body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'poppins', sans-serif;
    color: whitesmoke;

}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.ch2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cd {
    text-align: center;
}



.child3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.child2 {
    margin-left: 3%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grey {
    background-color: black;
}





#fb {
    border-radius: 50%;
    margin-left: 1%;
}

#twitter {
    border-radius: 50%;
}

#git {
    border-radius: 50%;
    margin-right: 1%;
}

.email {
    margin-bottom: 5px;
}

.dd {
    margin-bottom: 6px;
}

#fs {
    margin-right: 10%;
    width: 300px;
    height: 250px;
    border-color: rgb(235, 20, 91);
    margin-left: 33rem;


}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h2 {
    text-align: center;
}

#js {
    width: 100px;
    height: 100px;
}

#cput {
    width: 100px;
    height: 100px;
}

.card {
    width: 10rem;
}


.hero-image {
    background: rgba(0, 0, 0, 0.8) url(../images/tall-building.jpg);
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
    height: 100vh;


}



.nav li {
    display: inline-block;
    text-align: right;

}

.nav ul {
    margin: 0;
    padding: 0;
    text-align: right;
}

.nav a {
    text-decoration: none;
    display: block;
    padding: 25px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: arial;
    color: whitesmoke;
    text-decoration: underline;
    text-decoration-color: rgb(235, 20, 91);


}

#img {
    border-radius: 50%;
    margin-right: 5%;
    border: 3px solid rgb(235, 20, 91);
}




h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
    text-decoration-color: rgb(235, 20, 91);
}

h2 {
    text-decoration: underline;
    text-decoration-color: rgb(235, 20, 91);

}

.parent {
    margin-top: 10rem;
    margin-bottom: 0px;
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
    color: whitesmoke;

}

.button {
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cont {
    width: 20rem;
    background-color: whitesmoke;

}

.skills {
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 20px;


}

b {
    background-color: #0bceaf;
}

.inte {
    display: flex;
    flex-direction: column;
}

.in {
    margin-right: 8%;
}


.parent2 {
    display: flex;
    flex-direction: row-reverse;


}

.row1 {
    margin-left: 6%;
}

.sk {
    margin-left: 5%;
}

.exp {
    margin-left: 8rem;
}

.WE {
    display: flex;
    flex-direction: column;
}

.item1 {
    margin-right: 10rem;
}

.item2 {
    margin-right: 10rem;
}



.HTML {
    width: 90%;
    background-color: rgb(235, 20, 91);


}

.CSS {
    width: 60%;
    background-color: rgb(235, 20, 91);


}


.Scratch {
    width: 80%;
    background-color: rgb(235, 20, 91);


}

.AdobeInDesign {
    width: 60%;
    background-color: rgb(235, 20, 91);
}

.AdobeIllustrator {
    width: 40%;
    background-color: rgb(235, 20, 91);

}



@media(max-width:1215px) {}

@media(max-width:1024px) {}

@media(max-width:768px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
}


@media(max-width:550px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .parent {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 15rem;
    }

    .chi1 {
        margin-left: 8%;

    }

    .img {
        border-radius: 50%;
    }

    h1 {
        font-size: small;
    }

    .child3 {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }



}